{% extends "base.html" %}
{% load static %}
{% block page_content %}

    <div class="col-md-8 offset-md-2" style="margin-top:100px;">
        <div class="card text-center">
            <div class="card-header" style="background: white">
                <h1>Welcome Your Car Analyst</h1>
                <div class="text-center">
                  <img src="https://www.autovisual.com/img/cote-8.png" class="rounded" style="height: 130px;">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Please paste your car search link as your criteria and watch it :)</h5>
                <form action="/execute/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.link }}
                    </div>
                    {{ form.page_choice.label}}
                    <div class="form-group" style="margin:10px;">
                        {{ form.page_choice }}
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin:20px; width:250px;">Find Average Price</button>

                    <h5 class="card-title" style="margin: 12px; color: red;">{{ average_amount }}</h5>
                    <canvas id="myChart" width="200px" height="200px"></canvas>
                </form>
            </div>
            <div class="card-footer text-muted">
                Thanks for FromOwnerDotCom.
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['today', 'tomorrow'],
                datasets: [{
                    label: '# of Prices',
                    data: {{ data|safe }},
                    borderWidth: 1
                }]
            },
            options: {

            }
        });
    </script>

{% endblock %}
