{% extends "base.html" %}
{% load static %}
{% block page_content %}

    <div class="col-md-8 offset-md-2" style="margin-top:50px; margin-bottom: 50px;">
        <div class="card text-center">
            <div class="card-header" style="background: white">
                <h1>Welcome Your Car Price Analyst</h1>
                <div class="text-center">
                    <img src="https://www.autovisual.com/img/cote-8.png" class="rounded"
                         style="height: 140px;margin: 15px;">
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation" style="width:33.3%">
                        <a class="nav-link active" id="analyze-car-tab" data-toggle="tab" href="#analyze-car" role="tab"
                           aria-controls="analyze-car" aria-selected="true">Analyze</a>
                    </li>
                    <li class="nav-item" role="presentation" style="width:33.4%">
                        <a class="nav-link" id="select-analyze-tab" data-toggle="tab" href="#select-analyze" role="tab"
                           aria-controls="select-analyze" aria-selected="false">History</a>
                    </li>
                    <li class="nav-item" role="presentation" style="width:33.3%">
                        <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab"
                           aria-controls="about" aria-selected="false">About</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent" style="padding: 50px;">
                    <div class="tab-pane fade show active" id="analyze-car" role="tabpanel"
                         aria-labelledby="analyze-car-tab">
                         <div id="warning-message" class="alert alert-warning" style="display: none" role="alert">
                            <span>Please enter a valid criteria link.</span>
                         </div>
                        <h5 class="card-title">Please paste your car search link as your criteria and let me analyze for you!</h5>
                        <form id="analyze-form" action="/execute/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.link }}
                            </div>
                            {{ form.page_choice.label }}
                            <div class="form-group" style="margin:10px;">
                                {{ form.page_choice }}
                            </div>
                            <input type="submit" value="Find Average Price" class="btn btn-primary"
                                   style="margin:20px; width:250px;"/>
                            <h5 id="average-price-text" class="card-title" style="margin: 12px; color: red;"></h5>
                        </form>
                        <div id="analyzeChart-container">
                            <canvas id="analyzeChart"></canvas>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="select-analyze" role="tabpanel" aria-labelledby="select-analyze-tab"
                         style="padding: 40px;">
                        <form id="history-form" method='post' action='/show-history/'>
                            {% csrf_token %}
                            <select class="custom-select" name="selected_url">
                                <option selected>Please select link to show its history</option>
                                {% for url in url_list %}
                                    <option value='{{ url }}'>{{ url }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Show History" class="btn btn-success"
                                   style="margin:20px; width:250px;"/>
                        </form>
                        <div id="historyChart-container">
                            <canvas id="historyChart"></canvas>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab"
                         style="padding: 40px;">
                        <div class="">
                          <div class="">
                            <p>Car Price Analyst provides you the analysis of the car market according to your criteria.</p>
                            <p>I developed project because I like and and follow cars.</p>
                            <p>People says that The most powerful therapy of a man is that browsing on the car selling sites :)</p>
                            <p>When you enter the Car Price Analyst. You have 2 functionality:</p>
                            <p><span style="font-weight: bold">Analyze:</span> You enter car search link & select how many pages do you want to analyze.</p>
                            <p><span style="font-weight: bold">History:</span> Lists search links that analyzed until now. When you select can see its history.</p>
                            <p>Your criteria link that you analyzed runs on every morning. Thus, you can follow changes from past to present day by day.</p>
                            <p>This project was developed as a hobby. It has no commercial purpose.</p>
                            <p>Project supports MyCarDotCom.</p>
                            <p>Example input:
                                <a target="_blank" href="https://www.arabam.com/ikinci-el/otomobil/volkswagen-golf-1-4-tsi">https://www.arabam.com/ikinci-el/otomobil/volkswagen-golf-1-4-tsi</a>
                            </p>
                            I hope you will have the car that you dreamed :)
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Thanks for MyCarDotCom / FromOwnerDotCom.
            </div>
        </div>

        <div id="loading-bar" class="loading">
            <div class="loader">
                <div style="margin: 5px;">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <script type="text/javascript">

        var priceFormatter = function addCommas(nStr){
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2 + " ₺";
        }

        var loadingBar = $('#loading-bar');

        loadingBar.hide();
        var createChart = function (chartId, data, labels) {
            if (data != null && labels != null) {
                document.getElementById(chartId+"-container").innerHTML = '<canvas id="' +chartId + '"></canvas>';

                var ctx = document.getElementById(chartId);
                var historyChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'The Price of your Car',
                            data: data,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    callback: function (value) {
                                        return priceFormatter(value)
                                    }
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, chart){
                                    return priceFormatter(tooltipItem.yLabel);
                                }
                            }
                        }
                    }
                });
            }
        }

        $("#analyze-form").on('submit', function (e) {
            document.getElementById("analyzeChart-container").innerHTML = '&nbsp;';
            $("#average-price-text").hide();
            e.preventDefault();
            var form = $(this);
            loadingBar.show();
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    loadingBar.hide();
                    $('#warning-message').hide();
                    $("#average-price-text").show();
                    $("#average-price-text").text(response.average_amount)
                    createChart("analyzeChart", response.data, response.labels)
                },
                error: function (error) {
                    $('#warning-message').show();
                    loadingBar.hide();
                    console.log("Getting history data error")
                }
            });
        });

        $("#history-form").on('submit', function (e) {
            document.getElementById("historyChart-container").innerHTML = '&nbsp;';
            e.preventDefault();
            var form = $(this);
            loadingBar.show();
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    loadingBar.hide();
                    createChart("historyChart", response.data, response.labels)
                },
                error: function (error) {
                    loadingBar.hide();
                    console.log("Getting history data error")
                }
            });
        });

    </script>

    <style>

        .loading {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #fff0;
            z-index:0;
        }

        .loader {
            text-align: center;
            margin-top:42%;
            margin-left :0%;
        }
    </style>

{% endblock %}
