{% extends "base.html" %}
{% load static %}
{% block page_content %}

    <div class="col-md-8 offset-md-2" style="margin-top:100px;">
        <div class="card text-center">
            <div class="card-header" style="background: white">
                <h1>{{ message }}</h1>
                <div class="text-center">
                  <img src="https://www.autovisual.com/img/cote-8.png" class="rounded" style="height: 130px;">
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">Please paste your car search link as your criteria and watch it :)</h5>
                <form action="/execute/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.link }}
                    </div>
                    <button type="submit" class="btn btn-primary">Find Average Price</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Thanks for FromOwnerDotCom.
            </div>
        </div>
    </div>

{% endblock %}
